body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Navigation bar */
nav {
    position: sticky;
    top: 0;
    width: 100%;       
    padding: 10px 0;
    z-index: 1000;     
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

/* Welcome message styles */
h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-top: 20px;
}

.welcome-text {
    text-align: center;
    color: #666;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero {
    padding-top: 200px;
}
.container {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

h3 {
    padding: 1px 450px;
}

.feature {
    text-align: center;
    line-height: 1.6;
    text-indent: 30px;
    padding: 20px 200px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, .cta-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover, .cta-button:hover {
    background-color: #45a049;
}

.switch-form {
    text-align: center;
    margin-top: 10px;
}

.switch-form a {
    color: #4CAF50;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

/* Flashcard display */
#display-card {
    display: flex;            
    flex-wrap: wrap;          
    gap: 20px;                
    padding: 20px;            
    justify-content: space-evenly;  
}

/* Styling for individual flashcards */
.flashcard {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 250px;  
    box-sizing: border-box;  
    transition: transform 0.3s; 
}

.flashcard:hover {
    transform: scale(1.05);  
}

.flashcard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Star Rating */
#star-rating {
    direction: rtl;
    display: inline-flex;
}
#star-rating input[type="radio"] {
    display: none;
}
#star-rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}
#star-rating input[type="radio"]:checked ~ label {
    color: gold;
}
#star-rating label:hover,
#star-rating label:hover ~ label {
    color: gold;
.error {
    background-color: #f2dede;
    color: red;
    padding: 10px;
    width: 95%;
    border-radius: 5px;

}